[submodule "Spark/vendor/spdlog"]
	path = Spark/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Spark/vendor/GLFW"]
	path = Spark/vendor/GLFW
	url = git@github.com:TheCherno/glfw.git
[submodule "Spark/vendor/imgui"]
	path = Spark/vendor/imgui
	url = git@github.com:TheCherno/imgui.git
[submodule "Spark/vendor/glm"]
	path = Spark/vendor/glm
	url = git@github.com:g-truc/glm.git
