[submodule "Spark/vendor/spdlog"]
	path = Spark/vendor/spdlog
	url = ../../gabime/spdlog.git
[submodule "Spark/vendor/GLFW"]
	path = Spark/vendor/GLFW
	url = ../../TheCherno/glfw.git
[submodule "Spark/vendor/imgui"]
	path = Spark/vendor/imgui
	url = ../../TheCherno/imgui.git
[submodule "Spark/vendor/glm"]
	path = Spark/vendor/glm
	url = ../../g-truc/glm.git
