# Ingore Intermediate File
.vs/
**/bin/
**/binInt/
binInt/
!vendor/bin/premake/
!vendor/premake/bin/

# Spark file
*.log
*.tlog

# other file
.user/
*.log
*.obj

# Ingore IDE File Use premake5.exe instead
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.users